.signInInputs {
    -fx-background-color: #6f81fd;
    -fx-prompt-text-fill: #ddd;
    -fx-text-fill: white;
}

.signInBtn {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;

    -fx-border-color: #6f81fd;
    -fx-text-fill: #6f81fd;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.signInBtn:hover {
    -fx-background-color: #6f81fd;
    -fx-text-fill: white;
    -fx-font-size: 20px;

}

.pane {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}